<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=30 width=41></a>-->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a class="btn btn-lg" ui-sref="app"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
        <li><a class="btn btn-lg" ui-sref="app.favorites"><i class="fa fa-heart-o"></i> Favorites</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a><i class="fa fa-user-circle-o"></i> {{userName}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
