<div id = "Login">
  <form >
    <h2 style="text-align: center"><i class="fa fa-sign-in"></i> Sign In</h2><br>
    <a id = "facebook" class = "btn btn-block btn-social btn-facebook btn-lg" href="/users/facebook">
      <span class = "fa fa-facebook fa-4x"></span> Sign in with Facebook
    </a>
    <br>
    <a id = "twitter" class = "btn btn-block btn-social btn-twitter btn-lg" ng-click="twitterLogin()">
      <span class= "fa fa-twitter fa-4x"></span>Sign in with Twitter
    </a>
  </form>
</div>
